/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "partials/base";

// RHouse Specific Styles Here

// Menu Underline
.sf-menu li.sfHover a:after, .sf-menu li.sfHover a:visited:after, .sf-menu a:hover:after, .sf-menu li.current-menu-item a:after {
	   @include gold();
}

// Services Icons
.service-icon .fl-photo-img{
	background: #f6c606;
	border-radius: 100%;
	// -moz-border-radius: 100%;
	// -webkit-border-radius: 100%;
	line-height: 140px;
	height: 140px;
	width: 140px;
	padding: 27px;
	text-align: center;
	background: -moz-linear-gradient(top,#ffe424 0%, #f6c606 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe424), color-stop(100%,#f6c606));
	background: -webkit-linear-gradient(top,#ffe424 0%,#f6c606 100%);
	background: -o-linear-gradient(top,#ffe424 0%,#f6c606 100%);
	background: -ms-linear-gradient(top,#ffe424 0%,#f6c606 100%);
	background: linear-gradient(to bottom,#ffe424 0%,#f6c606 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe424', endColorstr='#f6c606',GradientType=0 );
	border: 1px solid #e2b200;

	
}

.service-icon a{
	@include border-radius(80px);
}

a[href="#hide-me"] {
	color: 393939!important;
	@include yellow-btn();
}

a[href="#hide-me"]:hover {
	@include yellow-btn-hover();
}

// Footer Widget area colour
#widget-area {
	background-color: #f1f1f1;
}

// Footer lower column-span
#copyright span {
	line-height: 7.8;
}