@mixin gold(){
    background-color: #F6C506;
    @include background-image(linear-gradient(to left, #7B5A00 0%, #F9CE70 22%, #7B5A00 51%, #F9CE70 77%, #7B5A00 100%));
}

@mixin yellow-btn(){
	font-size: 14px;
	line-height: 16px;
	padding: 7px 14px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background: #fac422;
	border: 1px solid #eeb816;
	background: -moz-linear-gradient(top,#ffe240 0%, #fac422 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe240), color-stop(100%,#fac422));
	background: -webkit-linear-gradient(top,#ffe240 0%,#fac422 100%);
	background: -o-linear-gradient(top,#ffe240 0%,#fac422 100%);
	background: -ms-linear-gradient(top,#ffe240 0%,#fac422 100%);
	background: linear-gradient(to bottom,#ffe240 0%,#fac422 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe240', endColorstr='#fac422',GradientType=0 );
}

@mixin yellow-btn-hover(){
	background: #f5d36c;
	border: 1px solid #e9c760;
	margin-bottom: 0;
	background: -moz-linear-gradient(top,#fff18a 0%, #f5d36c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff18a), color-stop(100%,#f5d36c));
	background: -webkit-linear-gradient(top,#fff18a 0%,#f5d36c 100%);
	background: -o-linear-gradient(top,#fff18a 0%,#f5d36c 100%);
	background: -ms-linear-gradient(top,#fff18a 0%,#f5d36c 100%);
	background: linear-gradient(to bottom,#fff18a 0%,#f5d36c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff18a', endColorstr='#f5d36c',GradientType=0 );
}