/*
=============================================== 01. HTML5 ✰ BOILERPLATE RESET FILE ===============================================
*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.lt-ie8 .clearfix {visibility:hidden; width:0;height:0; clear:both;}
.sticky, .gallery-caption, .bypostauthor {background:none;}

/*
=============================================== 02. COLORS AND FONTS ===============================================
*/
/* -------------------- A. LOGO WIDTH -------------------- */
body #logo, body #logo img {  max-width:100%; }
/*  Included in Theme Customizer /inc/customizer.php 
header nav {background-color:#252536; }
body {background-color:#ffffff; }
body #page-title, body #page-title-portfolio {background-color:#f5be05;}
#widget-area {background-color:#f1f1f1;}
footer {background-color:#eaeaea;}
body, .light-fonts-pro.testimonial-posts-home .testimonial-content { color:#757575; }
a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {color:#f69906;}
a:hover {color:#e18a00;}
#widget-area h6 { color:#3f3f3f; }
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color:#3f3f3f;}
*/


/* -------------------- B. FONT FAMILIES -------------------- */
body, header nav .sf-menu ul a {
	font-family: 'Fira Sans', sans-serif;
}

body a.ls-sc-button.secondary, body a.more-link, ul#portfolio-sub-nav, .renovation-button, header nav, body a.progression-button, body input.wpcf7-submit, body input#submit, body a.ls-sc-button.default  {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight:400;
}



/*
=============================================== 03. PRIMARY STYLES ===============================================
*/
/* -------------------- A. DEFAULT STYLES -------------------- */
body {
	font-size: 15px; line-height: 1.6;
}
body iframe {border:none; }
.pp_gallery {display:none !important;}
body a img, body a {outline:none !important; text-decoration:none;}
p {padding-top:0px; margin:0px;}
p, ul, ol {margin-bottom: 25px;}
#sidebar ul, #sidebar ol {margin-bottom:15px;}
ul, ol {margin-left:0px; padding-left:16px;}
img {max-width: 100%;height: auto;  width:auto;}
video, audio {max-width:100%;}
.alignnone, .alignleft, .alignright, .aligncenter {max-width:100% !important;}
h1, h2, h3, h4, h5, h6 { font-weight:300; margin:0px; padding:0px; line-height:1.1; margin-bottom:25px; }
h1 {font-size:50px;  line-height:1; letter-spacing:-1px; }
h2 {font-size:36px;  }
h3 {font-size:30px;  }
h4, .service-posts-home .service-container h2 {font-size:25px;  }
h5 {font-size:17px;  font-weight:700; letter-spacing:1px; text-transform:uppercase;}
h6 {font-size:15px;  letter-spacing:1px; font-weight:700; text-transform:uppercase;  margin-bottom:20px; }
body hr.ls-sc-divider {padding:0px 0px 35px 0px; position:relative; top:12px;}
ul.checkmark, ul.arrow {padding-left:0px;}
ul.checkmark li, ul.arrow li {list-style:none; padding-left:18px;}
ul.checkmark li {background:url(images/checkmark.png) 0px 2px no-repeat;}
ul.arrow li {background:url(images/sidebar-arrow.png) -4px 0px no-repeat;}
.alignright {float:right; margin:0 0 10px 20px;}
.alignleft {float:left; margin:0px 20px 10px 0px;}
.aligncenter {text-align:center;  margin:0px auto 20px auto; display:block; }
blockquote {margin-left:0px; border-left:5px solid #cccccc; font-size:110%; padding-left:25px; font-style:italic; line-height:1.8;}
pre, .form-allowed-tags code {border:1px solid #ddd;  padding:9px 9px; background:#f9f9f9; overflow:auto; word-wrap: break-word; font-size:14px; line-height:1.2; margin-bottom:25px;}
.form-allowed-tags code {display:block;}
body #main hr.grey {border-color:#dddddd;}


/* -------------------- B. CSS3 TRANSITIONS -------------------- */
.tparrows, a, .ls-sc-toggle .ls-sc-toggle-trigger, a, .social-ico a i, body input.wpcf7-submit, body input#submit, button, input.button,
a.ls-sc-button.secondary .ls-sc-button-inner  { 
	-webkit-transition-duration: 150ms;
	-webkit-transition-property: color, background-color, opacity, border;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-duration: 150ms;
	-moz-transition-property: color, background-color, opacity, border;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-duration: 150ms;
	-o-transition-property: color, background-color, opacity, border;
	-o-transition-timing-function: ease-in-out;
	transition-duration: 150ms;
	transition-property: color, background-color, opacity, border;
}

.no-css3 {-webkit-transition-duration: 0ms !important; -moz-transition-duration: 0ms !important; -o-transition-duration: 0ms !important; transition-duration: 0ms !important;}



/*
=============================================== 04. MAIN CONTAINERS ===============================================
*/
/* -------------------- A. HEADER STYLES -------------------- */
header {margin:0px; padding:0px; position:relative; width:100%; z-index:25; }
header h1 {margin:0px auto; padding:0px; line-height:1; font-size:5px;}
header #logo {margin:0px auto; padding:0px; border:none;  }
header #logo img {  height: auto; opacity:1 !important; filter:alpha(opacity=100); }
header #logo a:hover img { opacity:1 !important; filter:alpha(opacity=100);}

#fixed-header-pro {
	width:100%;
}

body.admin-bar #fixed-header-pro.scroll-to-fixed-fixed {
	margin-top:32px;
}

header .width-container {
	position:relative;
}

header #logo-pro {
	z-index:36;
	top:0px;
	left:50%;
	position:absolute;
}

header#logo-left #logo-pro {
	left:0px;
}

header#logo-left #logo-pro { margin-left:0px;}

header#logo-left .logo_container, header#logo-left #primary-right-nav {display:none;}

header#logo-left #primary-left-nav {
	width:auto;
	float:left;
}

#page-title-background {
	overflow:hidden;
}

#page-title {
	position:relative;
	text-align:left;
	padding:150px 0px 115px 0px;
}


#page-title h1 {
	margin:0px 0px 16px 0px;
	font-size:100px;
	text-transform:uppercase;
	text-shadow:1px 2px 2px rgba(0,0,0,0.15);
}

#page-title-description {
	width:80%;
	opacity:0.85;
	font-size:18px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.2);
	margin:0px 0px 16px 0px;
}


.logo_container {
	height:10px;
	padding:0px 4px;
}

#primary-left-nav {
	width:50%;
	float:left;
}

#primary-left-nav .sf-menu, #primary-left-nav .logo_container  {
	float:right;
}
#primary-right-nav {
	width:50%;
	float:right;
}

#primary-right-nav .sf-menu, #primary-right-nav .logo_container {
	float:left;
}



/* -------------------- B. MAIN CONTAINER STYLES -------------------- */
.width-container { width:1140px; margin: 0 auto;}

#main {
	padding:65px 0px 45px 0px;
}

body.page-template-homepage-php #main {
	padding:0px;
}

#homepage-content-container {
	padding:65px 0px 45px 0px;
}

#content-container {
	float:left; 
	width:69%; 
}
#sidebar { 
	float:right;  
	width:23%;  
	padding-left:4%;
	border-left:2px solid #ebebeb;
	overflow:hidden;
}

#full-width-progression #content-container {width:100%;}




/*
=============================================== 05. FOOTER STYLES ===============================================
*/
#widget-area  {
	font-weight:300;
	color:#767676;
	font-size:20px;
}


#widget-area a {color:#2e2e42;  }
#widget-area a:hover {color:#000;}

#widget-area .widget {
	padding:90px 0px 80px 0px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

#copyright {
	text-align:center;
	color:#767676;
	padding:52px 0px 40px 0px;
}

#copyright a {
	color:#2e2e42;
}
#copyright a:hover { color:#000000; }



/*
=============================================== 9. HOMEPAGE STYLES ===============================================
*/
.light-fonts-pro {
	color:#dddddd;
}
.light-fonts-pro h2, .light-fonts-pro  .summary-text-pro {
	color:#ffffff;
}

.light-fonts-pro h2 a {color:#ffffff;}
.light-fonts-pro .pro-cat {color:#ffffff;}

.summary-text-pro {
	font-weight:300;
	letter-spacing:8px;
	margin-bottom:32px;
	font-size:18px;
	opacity:0.8;
	text-align:center;
	text-transform:uppercase;
}

.footer-highlight-home .summary-text-pro {
	margin-bottom:28px;
	letter-spacing:6px;
}

.footer-highlight-home {
	position:relative;
	padding:16px 15px;
	text-align:center;
}


.footer-highlight-home-border {
	padding:65px 0px;
	border:1px solid rgba(255,255,255,0.15);
}

.footer-highlight-home h2, .homepage-widget-blog h2, .portfolio-posts-home h2, .service-posts-home h2, .testimonial-posts-home h2 {
	text-align:center;
	margin-bottom:15px;
	text-transform:uppercase;
}

.homepage-widget-blog {
	padding:65px 0px 20px 0px;
}

.homepage-widget-blog  .container-blog {
	padding-bottom:0px;
	border:none;
}

.homepage-widget-blog  .container-blog h2 {
	text-align:left;
}

.homepage-widget-blog  .container-blog a.more-link {
	padding:0px;
	background:none;
	color:#888;
	margin:-10px 0 0 0;
}
.homepage-widget-blog  .container-blog a.more-link:hover {
	color:#555;
}

.portfolio-posts-home  {
	padding:65px 0px 35px 0px;
}

.portfolio-posts-home .portfolio-index-pro {
	border:none;
	padding-bottom:0px;
}

.light-fonts-pro h4.portfolio-index-title a {
	color:#ffffff;
}

.light-fonts-pro h4.portfolio-index-title a:hover {
	color:#ddd;
}

.light-fonts-pro .meta-progression-port a {
	color:#ddd;
}
.light-fonts-pro .meta-progression-port a:hover {
	color:#ffffff;
}

.service-posts-home {
	margin:20px 0px;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	padding:65px 0px 35px 0px;
}

.service-posts-home .service-container {
	border-color:#f3f3f3;
	border:none;
	padding-bottom:0px;
}


.light-fonts-pro.service-posts-home .service-container {
	border-color:#333;
}

.light-fonts-pro.service-posts-home {
	margin:0px;
	border:none;
}


.testimonial-posts-home {
	padding:65px 0px 35px 0px;
}




/*
=============================================== 06. BLOG STYLES ===============================================
*/
.sticky .container-blog {
	border:5px solid #eee;
	background-color:#f1f1f1;
	padding:35px 35px 15px 35px;
}



.container-blog {
	padding-bottom:30px;
	margin-bottom:60px;
	border-bottom:2px solid #ebebeb;
}
.featured-video-progression p {
	margin-bottom:0px;
}
.pro-cat {
	opacity:0.7;
	font-size:18px;
	padding-bottom:15px;
}

.featured-blog-progression {
	margin-bottom:25px;
}

.meta-progression {
	margin:-10px 0px 20px 0px;
}

.meta-progression, .meta-progression a {
	color:#bababa;
}

.meta-progression a:hover {
	color:#888888;
}


/* Pagination Styles */
ul.page-numbers {
	margin:20px 0px 20px 0px; text-align:center;
}
ul.page-numbers li {
	margin:0px; padding:0px;
	display:inline-block;
	
}

.page-numbers span, .page-numbers a {
	text-decoration:none; line-height:1; cursor: pointer; display:inline-block; 
	font-weight:400;
	margin-right:4px;
	margin-bottom:3px;
	padding:16px 16px;
	min-width:15px;
	font-size:15px;
	background-color:#ffffff;
	color:#252525;
	border:1px solid #d9d9d9;
}

.page-numbers span.current, .page-numbers a:hover {	
	color:#252525;
}


/* Comments */

#reviews #comments {margin-top:0px;}
#comments {margin-top:35px;}


h3 a#cancel-comment-reply-link {font-size:13px;}
.commentlist  p {
	margin-bottom:10px;
}

.commentlist {
	float:left;
	list-style: none;
	margin: 0 auto;
	width:80%;
	position:relative;
	left:101px;
}

.commentlist li.comment {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 0 1.625em 0 !important;
	padding: 0.2em 1.4em 0.25em 1.4em;
	list-style:none ;
	position: relative;
}
.commentlist .avatar {left: -102px; -webkit-box-shadow: 0 1px 2px #ccc; box-shadow: 0 1px 2px #ccc; -moz-box-shadow: 0 1px 2px #ccc; box-shadow: 0 1px 2px #ccc;  padding: 0; position: absolute; top: 0;}
.commentlist .pingback { margin: 0 0 1.625em; padding: 0 1.625em; }
ol.commentlist ul.children, ol.commentlist ul.children  li {
	list-style: none ;
	margin:0px;
}
.commentlist .children li.comment {
	border-right:none;
	border-top:none;
	border-bottom:none;
	border-left:2px solid #ebebeb; 
	margin: 0em 0 0 0;
	padding:1em 1.6em 0em 2em;
	position: relative;
}
.commentlist .avatar {left: -102px;padding: 0; position: absolute; top: 0px;
	-webkit-border-radius: 155px;
	-moz-border-radius: 155px;
	border-radius: 155px;
}
.commentlist .pingback { margin: 0 0 1.625em; padding: 0 1.625em; }
ol.commentlist ul.children, ol.commentlist ul.children  li {
	list-style: none;
	margin:0px;
}

.commentlist .children li.comment .avatar {top:10px;}
.commentlist .children li.comment .fn { display: block; font-size:15px;}
.comment-meta .fn {font-weight: bold; display: block; font-size:15px; }
.comment-meta .fn a {font-weight:bold;}
.comment-meta a {text-decoration:none;}
.comment-meta {
	color: #666;
	font-size: 11px;
	padding-top:12px;
	padding-bottom:8px;
}
.commentlist .children li.comment .comment-meta {
	margin-left:62px ;
	padding-top:0px;
}
.commentlist .children li.comment .comment-content {
	margin: 0;
	margin-top:25px;
	padding:0px;
}

.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {}
.commentlist > li:before {
	left: -10px;
	top:10px;
	position: absolute;
}
.commentlist > li.pingback:before { content: ''; }
.commentlist .children .avatar {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 2.2em;
	padding:0px;
	top: 2.2em;
	width:55px;
	height:auto;
}

a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
	background: #888;
	color: #fff;
}
a.comment-reply-link > span {
	display: inline-block;
	position: relative;
	top: -1px;
}
.commentlist > li.pingback:before { content: ''; }
.commentlist .children .avatar {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 2.2em;
	padding:0px;
	top: 2.2em;
}
a.comment-reply-link {
	background: #e4e4e4;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #999999;
	display: inline-block;
	font-family:Arial, Sans-serif;
	padding: 2px 9px;
	text-decoration: none;
	margin-bottom:20px;
}

p.comment-notes {font-size:13px;}
p.form-allowed-tags {font-size:11px; line-height:16px;}
p.form-allowed-tags code {display:block;}


#respond label {padding-left: 0px; }
#respond input, #respond textarea {display:block; margin-top:2px;}
#respond input#submit {width:auto; text-shadow:none;}

/*Image Gallery */
#image-navigation {
	width:100%; 
	overflow:hidden; 
	margin-bottom:10px; 
	margin-top:10px; 
	font-size:16px;
	font-weight:bold;
}
#image-navigation .nav-previous {float:left; width:50%;}
#image-navigation .nav-next {text-align:right; float:right; width:50%;}
body.single-attachment .edit-link {padding-left:15px;}


/* Tags */
#tags-pro {
	margin-bottom:10px;
}
#tags-pro a {
	text-decoration:none; line-height:1; cursor: pointer; display:inline-block; 
	border:none;
	width:auto;
	margin:0px 5px 5px 0px;
	color:#ebebeb;
	background-color:#17191a;
	font-size:12px;
	width:auto;
	padding:8px 14px;
	-webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 35px;
}
#tags-pro a:hover {
	background-color:#555555;
}




/*
=============================================== 07. SIDEBAR & WIDGET STYLES ===============================================
*/
.sidebar-divider {width:100%; overflow:hidden; height:40px;}

#sidebar a, #sidebar {
	color:#999999;
}

#sidebar a:hover {
	color:#333333;
}

#sidebar ul li:before {
	content: "•";
	color:#65ccbf;
	margin-right:5px;
}

#sidebar ul {
	list-style:none;
	margin:0px;
	padding:0px 0px 8px 0px;
}
#sidebar ul ul {
	padding-top:4px;
	padding-bottom:0px;
}

#sidebar ul li {
	margin:0px 0px 5px 0px;
	padding:0px 0px 5px 0px;
}



#sidebar ul ul li {
	margin-left:12px;
	padding-left:12px;
	margin-bottom:0px;
	padding-bottom:0px;
}

span.count-sidebar-pro {
	font-size:12px;
	padding-left:6px;
	position:relative;
	top:-1px;
}

#sidebar select {
	max-width:90%;
}


.social-icons-widget-pro div {
	margin-bottom:20px;
}

/* Tag Cloud */
#sidebar .tagcloud a {
	text-decoration:none; line-height:1; cursor: pointer; display:inline-block; 
	width:auto;
	border:none;
	margin:0px 2px 10px 0px;
	padding:7px 10px;
	font-size:12px !important;
	color:#dddddd;
	background:#000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#sidebar .tagcloud a:hover {
	color:#ffffff;
	background-color:#555555;
}



/* ---- SEARCH FORM ----*/
.search-form .screen-reader-text, .search-form .search-submit, #searchform #searchsubmit, #searchform .screen-reader-text {display:none;}
.search-form .search-field, #searchform #s {
	-webkit-transition-duration: 400ms; -webkit-transition-property: width, background; -webkit-transition-timing-function: ease;
	-moz-transition-duration: 400ms; -moz-transition-property: width, background; -moz-transition-timing-function: ease;
	-o-transition-duration: 400ms; -o-transition-property: width, background; -o-transition-timing-function: ease;
	background-color:#ffffff; 
	border:2px solid #e5e5e5;
	padding-bottom:15px;
	padding-top:15px;
	padding-left:16px;
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;
	width: 85%;
	background-image:url(images/search-magnify.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-bottom:10px;
	font-size:15px;
	font-style:italic;
}

input.search-field:focus {
	outline:none;
	border-color:#ccc;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
	.search-form .search-field, #searchform #s {background-image: url(images/search-magnify@2x.png); background-size:30px 30px;}
	.lt-ie9 .search-form .search-field, .lt-ie9 #searchform #s {background-image: url(images/search-magnify.png); }
}



/* --- Flickr Widget --- */
body .flickr-widget ul li:before {display:none;}
body .flickr-widget ul {margin-left:0px; margin-bottom:15px; padding-left:0px; background:none; }
body .flickr-widget ul li { padding:0px; margin:0px; list-style:none; display:inline; border:none; background:none;}
body .flickr-widget ul li a {display:inline;  padding:0px;  -webkit-transition: all .5s ease; -moz-transition: all .5s ease; transition: all .5s ease; }
body .flickr-widget ul li img {  width:60px; height:60px;   margin:0px 16px 16px 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
body .flickr-widget ul li a:hover { opacity: 0.7; filter:alpha(opacity=70); }

body #sidebar .flickr-widget ul { list-style:none; }
body #sidebar .flickr-widget ul li { padding:0px; margin:0px; }
body  #sidebar .flickr-widget ul li img {  width:70px; height:70px;  margin:0px 8px 8px 0px; }


/* Calendar */
#wp-calendar caption {
	border:1px solid #dddddd;
	font-size:18px;
	padding:3px 0px;
}
#wp-calendar th {
	background:#f1f1f1;
	padding:3px 0;
	text-align:center;
	border:1px solid #dddddd;
}

#wp-calendar td {
	padding: 4px 0;
	text-align: center;
	border:1px solid #eee;
}

#wp-calendar {
	width: 90%;
}


/* Toggle Styles  */
body .ls-sc-accordion,
body .ls-sc-toggle {
	margin-bottom:15px;
}
body .ls-sc-toggle .ls-sc-toggle-trigger:before {
	content: "+";
	position:relative;

	display:inline-block;
	border:1px solid #ddd;
	line-height:1;
	width:18px;
	text-align:center;
	padding:4px 0px;
	color:#cccccc;
	margin:0px 10px 0px 0px;
	font-size:12px;
	font-weight:bold;
}
body .ls-sc-toggle .ls-sc-toggle-trigger.active:before {
	content: "-";
}
body .ls-sc-toggle .ls-sc-toggle-trigger {
  border: 1px solid #e3e3e3;
  background: #f9f9f9;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  padding: 0.8em;
  color:#666;
}



body .ls-sc-toggle .ls-sc-toggle-trigger:hover {
  background-color: #fcfcfc;
}
body .ls-sc-toggle .ls-sc-toggle-container {
  padding: 15px;
  border: 1px solid #e3e3e3;
  border-top: 0px;
}
body #main .ls-sc-tabs {
	border-top:none;
	padding:0px;
	margin:0px;
	border-color:#e4e4e4;
}

/* Tabs Shortcode  */
body .ls-sc-tabs ul.ui-tabs-nav .ui-state-active a {
  height: 40px;
  top:-3px;
  padding-top: 3px;
 
}


body .ls-sc-tabs ul.ui-tabs-nav li a {
	font-weight:bold;
	font-size:14px;
	color:#666666;
}

body .ls-sc-tabs .tab-content {
	font-size:14px;
	margin:0px;
}


.ls-sc-accordion h3.ls-sc-accordion-trigger  a {
	 font-weight: bold;
	 color:#666666;
}

.ls-sc-accordion .ls-sc-accordion-trigger:before {
	content: "+";
	position:relative;
	display:inline-block;
	border:1px solid #ddd;
	line-height:1;
	width:18px;
	text-align:center;
	padding:4px 0px;
	color:#cccccc;
	margin:0px 10px 0px 0px;
	font-size:12px;
	font-weight:bold;
}
.ls-sc-accordion .ls-sc-accordion-trigger.ui-state-active:before {
	content: "-";
}

/* Gallery Customizing */
body #main .gallery img {
	border:none;
}



/*
=============================================== 12. DEFAULT GRID ===============================================
*/
.grid2column-progression, .grid3column-progression, .grid3columnbig-progression, .grid4column-progression, .grid4columnbig-progression {float:left; margin-right:3%; min-height:2px; }
.grid2column-progression { width: 48.5%;}
.grid3column-progression {width: 31.3%;  }
.lt-ie8 .grid3column-progression {width: 31%;  }
.grid3columnbig-progression {width:65.4%;}
.grid4column-progression {width: 22.7%;  }
.lt-ie8 .grid4column-progression {width: 22%;  }
.grid4columnbig-progression {width:73.8%; }

body .lastcolumn-progression {margin-right:0% !important;}


.rotate_cols_pro .grid2column-progression {
	float:right;
	 margin-right:0%;
	  margin-left:3%;
}
.rotate_cols_pro .grid2column-progression.lastcolumn-progression {
	float:left;
	margin-left:0%;
}

/* Footer Widget Columns */
.footer-2-column .widget, .footer-3-column .widget, .footer-4-column .widget {float:left; margin-left:2%; margin-right:2%; min-height:2px;}
.footer-2-column .widget { width: 46%; }
.footer-3-column .widget { width: 29%; }
.footer-4-column .widget {width: 21%;}

/*
=============================================== 08. PORTFOLIO STYLES ===============================================
*/
ul#portfolio-sub-nav {
	margin:0px;
	padding:0px;
	list-style:none;
	position:absolute;
	bottom:2px;
}
ul#portfolio-sub-nav li {
	display:inline;
}

ul#portfolio-sub-nav li a {
	text-decoration:none; line-height:1; cursor: pointer; display:block; float:left;
	font-size:17px;
	padding:20px 28px;
	margin-right:2px;
	background:rgba(255,255,255,0.5);
	color:#393939;
}
ul#portfolio-sub-nav li.current-cat a, ul#portfolio-sub-nav li.current-cat:hover a {
	background:#ffffff;
	color:#252525;
}

ul#portfolio-sub-nav li a:hover {
	background:rgba(255,255,255,0.7);
}

.portfolio-index-pro {
	border-bottom:2px solid #ebebeb;
	padding-bottom:30px;
	margin-bottom:50px;
}


.featured-image-portfolio {
	margin-bottom:25px;
}

h4.portfolio-index-title {
	font-weight:400;
	opacity:0.85;
	margin-bottom:5px;
}

.meta-progression-port ul a {
	color:#757575;
	opacity:0.65;
	font-size:16px;
}
.meta-progression-port ul a:hover {
	color:#333333;
}

.meta-progression-port ul {
	margin:0px;
	padding:0px;
	list-style:none;
}

.meta-progression-port ul li {
	display:inline;
}
.meta-progression-port ul li:last-child i {display:none;}
.meta-progression-port ul li i {font-size:5px; position:relative; bottom:3px; opacity:0.25; display:inline-block; margin:0 4px;}


#page-title-portfolio {
	padding:140px 0px 60px 0px;
	text-align:center;
}

#page-title-portfolio h1 {
	margin:0px; padding:0px;
	font-size:55px;
	text-transform:uppercase;
	color:#ffffff;
	text-shadow:1px 2px 2px rgba(0,0,0,0.15);
}

.featured-image-portfolio-single {
	margin-top:-66px;
	background:#ddd;
	margin-bottom:50px;
}

.featured-image-portfolio-single img {
	width:100%;
}

.featured-video-single { 
	max-width:75%;
	margin:0 auto;
}

/* Single Portfolio Post Pagination */
#backto-portfolio {
	text-align:center;
	padding:25px 0 20px 0; 
}

#related-portfolio-pro {
	margin-top:25px;
	padding:70px 0px 25px 0px;
	background:#f6f6f8;
	margin-bottom:-45px;
}

#related-portfolio-pro .portfolio-index-pro {
	border-bottom:none;
	padding-bottom:0px;
}

/*
=============================================== 09. TESTIMONIAL & SERVICES STYLES ===============================================
*/
body.post-type-archive-testimonial, body.tax-testimonial_type {
	background:#f6f6f8;
}

.testimonial-container {
	margin:25px 0px 40px 0px;
	border:1px solid #ffffff;
	background:#ffffff url(images/quote.png) 35px 35px no-repeat;
	padding:0px 35px 20px 35px;
	text-align:center;
	-moz-box-shadow:     1px 1px 10px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.05);
	box-shadow:         1px 1px 10px rgba(0, 0, 0, 0.05);
}

.testimonial-thumb img {
	width:70px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-moz-box-shadow:     1px 1px 6px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:  1px 1px 6px rgba(0, 0, 0, 0.15);
	box-shadow:         1px 1px 6px rgba(0, 0, 0, 0.15);
	position:relative;
	margin-top:-28px;
	margin-bottom:-10px;
}

.testimonial-container h4 {
	margin-top:28px;
	margin-bottom:10px;
}

.testimonial-container h6 {
	opacity:0.4;
	font-weight:400;
	text-transform:none;
}

.testimonial-content {
	font-style:italic;
	text-align:left;
}


.service-container {
	padding-bottom:30px;
	margin:0px 0px 50px 0px;
	border-bottom:2px solid #ebebeb;
}

.service-container h2, .service-container .service-thumb {
	text-align:center;
}
.service-container .service-thumb {
	margin-bottom:30px;
}


/*
=============================================== 10. BUTTON STYLES ===============================================
*/
body a.more-link, body a.progression-button, body input.wpcf7-submit, body input#submit, body a.ls-sc-button.default {
	text-decoration:none; line-height:1; cursor: pointer; display:inline-block; 
	border:none;
	width:auto;
	margin:0px 5px 5px 0px;
	font-size:18px;
	padding:18px 26px;
	width:auto;
	-webkit-border-radius:0px; -moz-border-radius: 0px; border-radius: 0px;
}


body input.wpcf7-submit, body input#submit {
	-moz-box-shadow:  none;
	-webkit-box-shadow: none;
	box-shadow:         none;
}

body a.comment-reply-link {
	padding:7px 14px;
	font-size:11px;
	margin-bottom:25px;
}




body a.ls-sc-button.secondary {
	text-decoration:none; line-height:1; cursor: pointer; display:inline-block; 
	border:none;
	width:auto;
	margin:0px 5px 5px 0px;
	width:auto;
	-webkit-border-radius:0px; -moz-border-radius: 0px; border-radius: 0px;
	font-size:18px;
	padding:18px 26px;
	line-height: 1;
}




/*
=============================================== 11. CONTACT FORM STYLES ===============================================
*/
#map-progression {
}

span.required {color:#da5454;}
.wpcf7 {margin-top:15px;}
.wpcf7 input, .wpcf7 textarea, #respond textarea, #respond input {
	padding:16px;
	margin-top:3px;
	border:1px solid #e6e6e6;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background-color:#f5f5f5;
	max-width:100%;
	color:#444;
	-moz-box-shadow:    inset 0px 1px 3px rgba(0, 0, 0, 0);
	-webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0);
	box-shadow:         inset 0px 1px 3px rgba(0, 0, 0, 0);
}

.wpcf7 input.wpcf7-not-valid, .wpcf7 textarea.wpcf7-not-valid {
	border-color:#eab7b7; 
	background:#fbe8e8;
}
.wpcf7-not-valid-tip {display:none !important;}
.wpcf7 input, #respond input {width:300px;}
.wpcf7 textarea, #respond textarea {width:70%; }

.wpcf7 input:focus, #respond input:focus, .wpcf7 textarea:focus, #respond textarea:focus {
	border-color:#f6c606;
	outline: none;
	color:#444;
}



/*
=============================================== 12. SLIDERS ===============================================
*/
/* Revolution Slider */
.renovation-button a {
	display:inline-block;
	font-size: 23px;
	line-height: 1;
	padding: 24px 38px 24px 38px;
}


body #pro-home-slider .renovation-headline {
	-moz-box-shadow:     1px 1px 15px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:  1px 1px 15px rgba(0, 0, 0, 0.15);
	box-shadow:         1px 1px 15px rgba(0, 0, 0, 0.15);
}


body #pro-home-slider {
 z-index: 1;
 position:relative;
}


body #pro-home-slider .tp-bullets.simplebullets.round.hidebullets {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}



body #pro-home-slider .tp-bullets.simplebullets.round .bullet {
	width:18px;
	margin:0px 3px;
	height:18px;
	background-image:url(images/slider/rev-bullets.png) ;
	background-position:bottom center;
}

body #pro-home-slider .tp-bullets.simplebullets.round .bullet:hover, body #pro-home-slider .tp-bullets.simplebullets.round .bullet.selected {
	background-position:top center;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
	body #pro-home-slider .tp-bullets.simplebullets.round .bullet {
		background-image: url(images/slider/rev-bullets@2x.png) ; 
		background-size:18px 36px;
	}
}
body #pro-home-slider .tparrows.default.round {

}

body #pro-home-slider .tparrows.default.round {
	background-color: rgba(0,0,0,0.4) ;
	background-image:url(images/slider/arrows.png) ;
	background-repeat:no-repeat;	
	background-position:4px 0px ;
	width:45px !important;
	min-width:45px !important;
	height:60px !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
	body #pro-home-slider .tparrows.default.round {background-image: url(images/slider/arrows@2x.png) ; background-size:80px 60px;}
}


body #pro-home-slider .tp-rightarrow.default.round {
	background-position:-39px 0px !important;
}

body #pro-home-slider .tparrows.default.round:hover {
	background-color: rgba(0,0,0,0.6) !important;
}


 /* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { display: block; width:100%; }
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin:0px auto; position: relative; zoom: 1; /*  overflow:hidden; */ }
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {background-color:#161616;}
.flex-direction-nav a:hover {background-color:#161616;}
.flex-direction-nav a {z-index:46;  width: 36px; height: 60px; margin: -30px 0 0 0; display: block; background-image: url(images/slider/arrows.png); background-repeat: no-repeat; background-position: bottom left; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;  -moz-transition: all .3s ease; transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: bottom right; right: 0px; }
.flex-direction-nav .flex-prev {background-position: bottom left;  left: 0px;}
.flexslider:hover .flex-next {opacity: 0.75; right: 0px;}
.flexslider:hover .flex-prev {opacity: 0.75; left: 0px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled, #carousel-pro .flex-direction-nav .flex-disabled {display:none; opacity: 0!important; filter:alpha(opacity=0); cursor: default;}

#main .flex-direction-nav .flex-next { right: 0px; }
#main .flex-direction-nav .flex-prev {left: 0px;}

.portfolio-index-pro .flex-direction-nav  a {margin-top:-30px;}

/* Control Nav */
.flex-control-nav { z-index:5; width: 100%; position: absolute; bottom: 15px; text-align: center; }
.flex-control-nav li {margin: 0 2px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width:60px; height:4px;  display: block;  cursor: pointer; text-indent: -9999px;}
.flex-control-paging li a.flex-active { cursor: default; }



.gallery-progression .flex-control-paging li a, .lt-ie9 .gallery-progression .flex-control-paging li a {
		border:none; 
		width: 16px; 
		height: 16px; 
		display: block; 
		background: url(images/slider/slider-bullets.png);
		background-position: 0px -25px;
		background-repeat: no-repeat;  
		cursor: pointer; 
		text-indent: -9999px;
	}

.gallery-progression .flex-control-paging li a:hover { background-position:0px -48px; }
.gallery-progression .flex-control-paging li a.flex-active {  background-position:0px -2px; cursor: default; }

body .gallery-progression .flex-control-paging li a { @include transition(none); }

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
	.gallery-progression .flex-control-paging li a {background-image:url(images/slider/slider-bullets@2x.png); background-size:20px 85px;}
}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


.lt-ie9 .flex-direction-nav .flex-prev {opacity: 1; left: 15px;}
.lt-ie9 .flex-direction-nav .flex-next {opacity: 1; right: 15px;}


@media screen and (max-width: 940px) {
  .flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {display:none;}
  #carousel-pro .flex-direction-nav .flex-prev, #carousel-pro .flex-direction-nav .flex-next {display:block;}
}

.entry-content img {
	width:100%;
}



/*
=============================================== 13. NAVIGATION ===============================================
*/
/* -------------------- A. ESSENTIAL STYLES -------------------- */
/*** ESSENTIAL STYLES ***/
#mobile-menu {display:none;}
.sf-menu, .sf-menu * { margin: 0; padding: 0; list-style: none; }
.sf-menu li { position: relative; }
.sf-menu ul { position: absolute; display: none; top: 100%; left: 0; z-index: 99; }
.sf-menu > li { float: left; }
.sf-menu li:hover > ul, .sf-menu li.sfHover > ul { display: block;}
.sf-menu a { display: block; position: relative;}
.sf-menu ul ul {top: 0; left: 100%;}

/*** DEMO SKIN ***/
header nav ul { position:relative; z-index:55;}
header nav {
	-moz-box-shadow:  0px 2px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow:  0px 2px 3px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}
.sf-menu ul {
	min-width: 8em; /* allow long menu items to determine submenu width */
	*width: 8em; /* no auto sub width for IE7, see white-space comment below */
	left:1px;
}
.sf-menu a {
	line-height:1;
	text-decoration: none;
	zoom: 1; /* IE7 */
	margin:0px 0px 0px 0px;
	padding:42px 18px 40px 18px;
	text-transform:uppercase;
	text-shadow:0px 1px 1px rgba(0,0,0,0.08);
	font-size:16px;
	letter-spacing:1px;
}


 .sf-menu li.sfHover a:after, .sf-menu li.sfHover a:visited:after,
.sf-menu a:hover:after, .sf-menu li.current-menu-item a:after {
	content:"";
	display:block;
	position:relative;
	top:2px;
	height:2px;
	margin-bottom:-2px;
}

.sf-menu ul a:after {display:none !important;}


.sf-menu li.sfHover li a, .sf-menu li.sfHover li a:visited, .sf-menu li.sfHover li li a, .sf-menu li.sfHover li li a:visited, .sf-menu li.sfHover li li li a, .sf-menu li.sfHover li li li a:visited, .sf-menu li.sfHover li li li li a, .sf-menu li.sfHover li li li li a:visited { 
	color:#3f3f3f;
	background-color:#ffffff;
	background:rgba(255,255,255,0.85);
	border-bottom:1px solid #d9d4c8;
}

.sf-menu ul {
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
	-webkit-box-shadow:  0px 1px 2px rgba(0,0,0,0.15);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
}

.sf-menu li:last-child a {margin-right:0px;}

.sf-menu li {
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
}

.sf-menu ul li a, .sf-menu ul li a:visited { font-size:13px; text-transform:none; letter-spacing:0px;}


.sf-menu li li a {
	padding:18px 28px; 
	margin:0px;
	border:none;
	
}


.sf-menu li.sfHover li a, .sf-menu li.sfHover li a:visited, .sf-menu li.sfHover li li a, .sf-menu li.sfHover li li a:visited, .sf-menu li.sfHover li li li a, .sf-menu li.sfHover li li li a:visited, .sf-menu li.sfHover li li li li a, .sf-menu li.sfHover li li li li a:visited {
	
}


.sf-menu li li:hover, .sf-menu li li.sfHover, .sf-menu li li a:focus, .sf-menu li li a:hover, .sf-menu li li a:active, .sf-menu li li.sfHover a, .sf-menu li.sfHover li a:visited:hover, .sf-menu li li:hover a:visited,
.sf-menu li li li:hover, .sf-menu li li li.sfHover, .sf-menu li li li a:focus, .sf-menu li li li a:hover, .sf-menu li li li a:active, .sf-menu li li li.sfHover a, .sf-menu li li.sfHover li a:visited:hover, .sf-menu li li li:hover a:visited,
.sf-menu li li li li:hover, .sf-menu li li li li.sfHover, .sf-menu li li li li a:focus, .sf-menu li li li li a:hover, .sf-menu li li li li a:active, .sf-menu li li li li.sfHover a, .sf-menu li li li.sfHover li a:visited:hover, .sf-menu li li li li:hover a:visited,
.sf-menu li li li li li:hover, .sf-menu li li li li li.sfHover, .sf-menu li li li li li a:focus, .sf-menu li li li li li a:hover, .sf-menu li li li li li a:active, .sf-menu li li li li li.sfHover a, .sf-menu li li li li.sfHover li a:visited:hover, .sf-menu li li li li li:hover a:visited  {
	outline: 0;
	background:rgba(255,255,255,1);
	color:#000000;
}


.sf-menu .sf-sub-indicator {
	position:relative;
	top:-2px;
	font-size:10px;
	left:3px;
	line-height:1;
}

ul.sub-menu .sf-sub-indicator {
	display:none !important;
}


/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}

/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}




/*
=============================================== 14. FONT AWESOME ===============================================
*/
footer .social-ico {
	text-align:right;
	margin-top:30px;
	margin-bottom:18px;
}

.social-ico {
	font-size:14px;
} 

.social-ico a i {
	line-height:1;
	display:inline-block;
	vertical-align:top;
	margin:0px 2px 3px 0px;
	padding:12px 10px;
	text-align:center;
	min-width:16px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:3px;
	color:#ffffff;
}

.social-ico a i { text-decoration:none;}

.social-ico a .fa-twitter {background-color:#09aeec; border-color:#09aeec; }
.social-ico a .fa-facebook {background-color:#4161a2;  border-color:#4161a2;  }
.social-ico a .fa-google-plus {background-color:#d1432f; border-color:#d1432f;  }
.social-ico a .fa-linkedin {background-color:#0279b3;  border-color:#0279b3; }
.social-ico a .fa-instagram {background-color:#437297; border-color:#437297;  }
.social-ico a .fa-pinterest {background-color:#f44647;  border-color:#f44647;  }
.social-ico a .fa-youtube-play {background-color:#e22d26; border-color:#e22d26;  }
.social-ico a .fa-tumblr {background-color:#4b5e74; border-color:#4b5e74;  }
.social-ico a .fa-dropbox {background-color:#1e8cd8; border-color:#1e8cd8;  }
.social-ico a .fa-flickr {background-color:#fd1e81;  border-color:#fd1e81; }
.social-ico a .fa-dribbble {background-color:#cb3d73; border-color:#cb3d73;  }
.social-ico a .fa-vimeo {background-color:#26bbe9; border-color:#26bbe9;  }
.social-ico a .fa-envelope {background-color:#888; border-color:#888;  }

.social-ico a:hover .fa-twitter {background-color:#666666; border-color:#09aeec; }
.social-ico a:hover .fa-facebook {background-color:#666666;  border-color:#4161a2;  }
.social-ico a:hover .fa-google-plus {background-color:#666666; border-color:#d1432f;  }
.social-ico a:hover .fa-linkedin {background-color:#666666;  border-color:#0279b3; }
.social-ico a:hover .fa-instagram {background-color:#666666; border-color:#437297;  }
.social-ico a:hover .fa-pinterest {background-color:#666666;  border-color:#f44647;  }
.social-ico a:hover .fa-youtube-play {background-color:#666666; border-color:#e22d26;  }
.social-ico a:hover .fa-tumblr {background-color:#666666; border-color:#4b5e74;  }
.social-ico a:hover .fa-dropbox {background-color:#666666; border-color:#1e8cd8;  }
.social-ico a:hover .fa-flickr {background-color:#666666;  border-color:#fd1e81; }
.social-ico a:hover .fa-dribbble {background-color:#666666; border-color:#cb3d73;  }
.social-ico a:hover .fa-vimeo {background-color:#666666; border-color:#26bbe9;  }
.social-ico a:hover .fa-envelope {background-color:#666666; border-color:#888;  }


/*
Font Awesome 4.2.0 by @davegandy - http://fontawesome.io - @fontawesome
License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face{font-family:'FontAwesome';src:url('font-awesome/fonts/fontawesome-webfont.eot?v=4.2.0');src:url('font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),url('font-awesome/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'),url('font-awesome/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'),url('font-awesome/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.28571429em;text-align:center}.fa-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em;text-align:center}.fa-li.fa-lg{left:-1.85714286em}.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);-webkit-transform:scale(-1, 1);-ms-transform:scale(-1, 1);transform:scale(-1, 1)}.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);-webkit-transform:scale(1, -1);-ms-transform:scale(1, -1);transform:scale(1, -1)}:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root .fa-flip-vertical{filter:none}.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-glass:before{content:"\f000"}.fa-music:before{content:"\f001"}.fa-search:before{content:"\f002"}.fa-envelope-o:before{content:"\f003"}.fa-heart:before{content:"\f004"}.fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}.fa-user:before{content:"\f007"}.fa-film:before{content:"\f008"}.fa-th-large:before{content:"\f009"}.fa-th:before{content:"\f00a"}.fa-th-list:before{content:"\f00b"}.fa-check:before{content:"\f00c"}.fa-remove:before,.fa-close:before,.fa-times:before{content:"\f00d"}.fa-search-plus:before{content:"\f00e"}.fa-search-minus:before{content:"\f010"}.fa-power-off:before{content:"\f011"}.fa-signal:before{content:"\f012"}.fa-gear:before,.fa-cog:before{content:"\f013"}.fa-trash-o:before{content:"\f014"}.fa-home:before{content:"\f015"}.fa-file-o:before{content:"\f016"}.fa-clock-o:before{content:"\f017"}.fa-road:before{content:"\f018"}.fa-download:before{content:"\f019"}.fa-arrow-circle-o-down:before{content:"\f01a"}.fa-arrow-circle-o-up:before{content:"\f01b"}.fa-inbox:before{content:"\f01c"}.fa-play-circle-o:before{content:"\f01d"}.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}.fa-refresh:before{content:"\f021"}.fa-list-alt:before{content:"\f022"}.fa-lock:before{content:"\f023"}.fa-flag:before{content:"\f024"}.fa-headphones:before{content:"\f025"}.fa-volume-off:before{content:"\f026"}.fa-volume-down:before{content:"\f027"}.fa-volume-up:before{content:"\f028"}.fa-qrcode:before{content:"\f029"}.fa-barcode:before{content:"\f02a"}.fa-tag:before{content:"\f02b"}.fa-tags:before{content:"\f02c"}.fa-book:before{content:"\f02d"}.fa-bookmark:before{content:"\f02e"}.fa-print:before{content:"\f02f"}.fa-camera:before{content:"\f030"}.fa-font:before{content:"\f031"}.fa-bold:before{content:"\f032"}.fa-italic:before{content:"\f033"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-align-left:before{content:"\f036"}.fa-align-center:before{content:"\f037"}.fa-align-right:before{content:"\f038"}.fa-align-justify:before{content:"\f039"}.fa-list:before{content:"\f03a"}.fa-dedent:before,.fa-outdent:before{content:"\f03b"}.fa-indent:before{content:"\f03c"}.fa-video-camera:before{content:"\f03d"}.fa-photo:before,.fa-image:before,.fa-picture-o:before{content:"\f03e"}.fa-pencil:before{content:"\f040"}.fa-map-marker:before{content:"\f041"}.fa-adjust:before{content:"\f042"}.fa-tint:before{content:"\f043"}.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}.fa-share-square-o:before{content:"\f045"}.fa-check-square-o:before{content:"\f046"}.fa-arrows:before{content:"\f047"}.fa-step-backward:before{content:"\f048"}.fa-fast-backward:before{content:"\f049"}.fa-backward:before{content:"\f04a"}.fa-play:before{content:"\f04b"}.fa-pause:before{content:"\f04c"}.fa-stop:before{content:"\f04d"}.fa-forward:before{content:"\f04e"}.fa-fast-forward:before{content:"\f050"}.fa-step-forward:before{content:"\f051"}.fa-eject:before{content:"\f052"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-plus-circle:before{content:"\f055"}.fa-minus-circle:before{content:"\f056"}.fa-times-circle:before{content:"\f057"}.fa-check-circle:before{content:"\f058"}.fa-question-circle:before{content:"\f059"}.fa-info-circle:before{content:"\f05a"}.fa-crosshairs:before{content:"\f05b"}.fa-times-circle-o:before{content:"\f05c"}.fa-check-circle-o:before{content:"\f05d"}.fa-ban:before{content:"\f05e"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-arrow-down:before{content:"\f063"}.fa-mail-forward:before,.fa-share:before{content:"\f064"}.fa-expand:before{content:"\f065"}.fa-compress:before{content:"\f066"}.fa-plus:before{content:"\f067"}.fa-minus:before{content:"\f068"}.fa-asterisk:before{content:"\f069"}.fa-exclamation-circle:before{content:"\f06a"}.fa-gift:before{content:"\f06b"}.fa-leaf:before{content:"\f06c"}.fa-fire:before{content:"\f06d"}.fa-eye:before{content:"\f06e"}.fa-eye-slash:before{content:"\f070"}.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}.fa-plane:before{content:"\f072"}.fa-calendar:before{content:"\f073"}.fa-random:before{content:"\f074"}.fa-comment:before{content:"\f075"}.fa-magnet:before{content:"\f076"}.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}.fa-retweet:before{content:"\f079"}.fa-shopping-cart:before{content:"\f07a"}.fa-folder:before{content:"\f07b"}.fa-folder-open:before{content:"\f07c"}.fa-arrows-v:before{content:"\f07d"}.fa-arrows-h:before{content:"\f07e"}.fa-bar-chart-o:before,.fa-bar-chart:before{content:"\f080"}.fa-twitter-square:before{content:"\f081"}.fa-facebook-square:before{content:"\f082"}.fa-camera-retro:before{content:"\f083"}.fa-key:before{content:"\f084"}.fa-gears:before,.fa-cogs:before{content:"\f085"}.fa-comments:before{content:"\f086"}.fa-thumbs-o-up:before{content:"\f087"}.fa-thumbs-o-down:before{content:"\f088"}.fa-star-half:before{content:"\f089"}.fa-heart-o:before{content:"\f08a"}.fa-sign-out:before{content:"\f08b"}.fa-linkedin-square:before{content:"\f08c"}.fa-thumb-tack:before{content:"\f08d"}.fa-external-link:before{content:"\f08e"}.fa-sign-in:before{content:"\f090"}.fa-trophy:before{content:"\f091"}.fa-github-square:before{content:"\f092"}.fa-upload:before{content:"\f093"}.fa-lemon-o:before{content:"\f094"}.fa-phone:before{content:"\f095"}.fa-square-o:before{content:"\f096"}.fa-bookmark-o:before{content:"\f097"}.fa-phone-square:before{content:"\f098"}.fa-twitter:before{content:"\f099"}.fa-facebook:before{content:"\f09a"}.fa-github:before{content:"\f09b"}.fa-unlock:before{content:"\f09c"}.fa-credit-card:before{content:"\f09d"}.fa-rss:before{content:"\f09e"}.fa-hdd-o:before{content:"\f0a0"}.fa-bullhorn:before{content:"\f0a1"}.fa-bell:before{content:"\f0f3"}.fa-certificate:before{content:"\f0a3"}.fa-hand-o-right:before{content:"\f0a4"}.fa-hand-o-left:before{content:"\f0a5"}.fa-hand-o-up:before{content:"\f0a6"}.fa-hand-o-down:before{content:"\f0a7"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-globe:before{content:"\f0ac"}.fa-wrench:before{content:"\f0ad"}.fa-tasks:before{content:"\f0ae"}.fa-filter:before{content:"\f0b0"}.fa-briefcase:before{content:"\f0b1"}.fa-arrows-alt:before{content:"\f0b2"}.fa-group:before,.fa-users:before{content:"\f0c0"}.fa-chain:before,.fa-link:before{content:"\f0c1"}.fa-cloud:before{content:"\f0c2"}.fa-flask:before{content:"\f0c3"}.fa-cut:before,.fa-scissors:before{content:"\f0c4"}.fa-copy:before,.fa-files-o:before{content:"\f0c5"}.fa-paperclip:before{content:"\f0c6"}.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}.fa-square:before{content:"\f0c8"}.fa-navicon:before,.fa-reorder:before,.fa-bars:before{content:"\f0c9"}.fa-list-ul:before{content:"\f0ca"}.fa-list-ol:before{content:"\f0cb"}.fa-strikethrough:before{content:"\f0cc"}.fa-underline:before{content:"\f0cd"}.fa-table:before{content:"\f0ce"}.fa-magic:before{content:"\f0d0"}.fa-truck:before{content:"\f0d1"}.fa-pinterest:before{content:"\f0d2"}.fa-pinterest-square:before{content:"\f0d3"}.fa-google-plus-square:before{content:"\f0d4"}.fa-google-plus:before{content:"\f0d5"}.fa-money:before{content:"\f0d6"}.fa-caret-down:before{content:"\f0d7"}.fa-caret-up:before{content:"\f0d8"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}.fa-columns:before{content:"\f0db"}.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}.fa-sort-down:before,.fa-sort-desc:before{content:"\f0dd"}.fa-sort-up:before,.fa-sort-asc:before{content:"\f0de"}.fa-envelope:before{content:"\f0e0"}.fa-linkedin:before{content:"\f0e1"}.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}.fa-legal:before,.fa-gavel:before{content:"\f0e3"}.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}.fa-comment-o:before{content:"\f0e5"}.fa-comments-o:before{content:"\f0e6"}.fa-flash:before,.fa-bolt:before{content:"\f0e7"}.fa-sitemap:before{content:"\f0e8"}.fa-umbrella:before{content:"\f0e9"}.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}.fa-lightbulb-o:before{content:"\f0eb"}.fa-exchange:before{content:"\f0ec"}.fa-cloud-download:before{content:"\f0ed"}.fa-cloud-upload:before{content:"\f0ee"}.fa-user-md:before{content:"\f0f0"}.fa-stethoscope:before{content:"\f0f1"}.fa-suitcase:before{content:"\f0f2"}.fa-bell-o:before{content:"\f0a2"}.fa-coffee:before{content:"\f0f4"}.fa-cutlery:before{content:"\f0f5"}.fa-file-text-o:before{content:"\f0f6"}.fa-building-o:before{content:"\f0f7"}.fa-hospital-o:before{content:"\f0f8"}.fa-ambulance:before{content:"\f0f9"}.fa-medkit:before{content:"\f0fa"}.fa-fighter-jet:before{content:"\f0fb"}.fa-beer:before{content:"\f0fc"}.fa-h-square:before{content:"\f0fd"}.fa-plus-square:before{content:"\f0fe"}.fa-angle-double-left:before{content:"\f100"}.fa-angle-double-right:before{content:"\f101"}.fa-angle-double-up:before{content:"\f102"}.fa-angle-double-down:before{content:"\f103"}.fa-angle-left:before{content:"\f104"}.fa-angle-right:before{content:"\f105"}.fa-angle-up:before{content:"\f106"}.fa-angle-down:before{content:"\f107"}.fa-desktop:before{content:"\f108"}.fa-laptop:before{content:"\f109"}.fa-tablet:before{content:"\f10a"}.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}.fa-circle-o:before{content:"\f10c"}.fa-quote-left:before{content:"\f10d"}.fa-quote-right:before{content:"\f10e"}.fa-spinner:before{content:"\f110"}.fa-circle:before{content:"\f111"}.fa-mail-reply:before,.fa-reply:before{content:"\f112"}.fa-github-alt:before{content:"\f113"}.fa-folder-o:before{content:"\f114"}.fa-folder-open-o:before{content:"\f115"}.fa-smile-o:before{content:"\f118"}.fa-frown-o:before{content:"\f119"}.fa-meh-o:before{content:"\f11a"}.fa-gamepad:before{content:"\f11b"}.fa-keyboard-o:before{content:"\f11c"}.fa-flag-o:before{content:"\f11d"}.fa-flag-checkered:before{content:"\f11e"}.fa-terminal:before{content:"\f120"}.fa-code:before{content:"\f121"}.fa-mail-reply-all:before,.fa-reply-all:before{content:"\f122"}.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}.fa-location-arrow:before{content:"\f124"}.fa-crop:before{content:"\f125"}.fa-code-fork:before{content:"\f126"}.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}.fa-question:before{content:"\f128"}.fa-info:before{content:"\f129"}.fa-exclamation:before{content:"\f12a"}.fa-superscript:before{content:"\f12b"}.fa-subscript:before{content:"\f12c"}.fa-eraser:before{content:"\f12d"}.fa-puzzle-piece:before{content:"\f12e"}.fa-microphone:before{content:"\f130"}.fa-microphone-slash:before{content:"\f131"}.fa-shield:before{content:"\f132"}.fa-calendar-o:before{content:"\f133"}.fa-fire-extinguisher:before{content:"\f134"}.fa-rocket:before{content:"\f135"}.fa-maxcdn:before{content:"\f136"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-html5:before{content:"\f13b"}.fa-css3:before{content:"\f13c"}.fa-anchor:before{content:"\f13d"}.fa-unlock-alt:before{content:"\f13e"}.fa-bullseye:before{content:"\f140"}.fa-ellipsis-h:before{content:"\f141"}.fa-ellipsis-v:before{content:"\f142"}.fa-rss-square:before{content:"\f143"}.fa-play-circle:before{content:"\f144"}.fa-ticket:before{content:"\f145"}.fa-minus-square:before{content:"\f146"}.fa-minus-square-o:before{content:"\f147"}.fa-level-up:before{content:"\f148"}.fa-level-down:before{content:"\f149"}.fa-check-square:before{content:"\f14a"}.fa-pencil-square:before{content:"\f14b"}.fa-external-link-square:before{content:"\f14c"}.fa-share-square:before{content:"\f14d"}.fa-compass:before{content:"\f14e"}.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}.fa-euro:before,.fa-eur:before{content:"\f153"}.fa-gbp:before{content:"\f154"}.fa-dollar:before,.fa-usd:before{content:"\f155"}.fa-rupee:before,.fa-inr:before{content:"\f156"}.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}.fa-won:before,.fa-krw:before{content:"\f159"}.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}.fa-file:before{content:"\f15b"}.fa-file-text:before{content:"\f15c"}.fa-sort-alpha-asc:before{content:"\f15d"}.fa-sort-alpha-desc:before{content:"\f15e"}.fa-sort-amount-asc:before{content:"\f160"}.fa-sort-amount-desc:before{content:"\f161"}.fa-sort-numeric-asc:before{content:"\f162"}.fa-sort-numeric-desc:before{content:"\f163"}.fa-thumbs-up:before{content:"\f164"}.fa-thumbs-down:before{content:"\f165"}.fa-youtube-square:before{content:"\f166"}.fa-youtube:before{content:"\f167"}.fa-xing:before{content:"\f168"}.fa-xing-square:before{content:"\f169"}.fa-youtube-play:before{content:"\f16a"}.fa-dropbox:before{content:"\f16b"}.fa-stack-overflow:before{content:"\f16c"}.fa-instagram:before{content:"\f16d"}.fa-flickr:before{content:"\f16e"}.fa-adn:before{content:"\f170"}.fa-bitbucket:before{content:"\f171"}.fa-bitbucket-square:before{content:"\f172"}.fa-tumblr:before{content:"\f173"}.fa-tumblr-square:before{content:"\f174"}.fa-long-arrow-down:before{content:"\f175"}.fa-long-arrow-up:before{content:"\f176"}.fa-long-arrow-left:before{content:"\f177"}.fa-long-arrow-right:before{content:"\f178"}.fa-apple:before{content:"\f179"}.fa-windows:before{content:"\f17a"}.fa-android:before{content:"\f17b"}.fa-linux:before{content:"\f17c"}.fa-dribbble:before{content:"\f17d"}.fa-skype:before{content:"\f17e"}.fa-foursquare:before{content:"\f180"}.fa-trello:before{content:"\f181"}.fa-female:before{content:"\f182"}.fa-male:before{content:"\f183"}.fa-gittip:before{content:"\f184"}.fa-sun-o:before{content:"\f185"}.fa-moon-o:before{content:"\f186"}.fa-archive:before{content:"\f187"}.fa-bug:before{content:"\f188"}.fa-vk:before{content:"\f189"}.fa-weibo:before{content:"\f18a"}.fa-renren:before{content:"\f18b"}.fa-pagelines:before{content:"\f18c"}.fa-stack-exchange:before{content:"\f18d"}.fa-arrow-circle-o-right:before{content:"\f18e"}.fa-arrow-circle-o-left:before{content:"\f190"}.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}.fa-dot-circle-o:before{content:"\f192"}.fa-wheelchair:before{content:"\f193"}.fa-vimeo-square:before{content:"\f194"}.fa-turkish-lira:before,.fa-try:before{content:"\f195"}.fa-plus-square-o:before{content:"\f196"}.fa-space-shuttle:before{content:"\f197"}.fa-slack:before{content:"\f198"}.fa-envelope-square:before{content:"\f199"}.fa-wordpress:before{content:"\f19a"}.fa-openid:before{content:"\f19b"}.fa-institution:before,.fa-bank:before,.fa-university:before{content:"\f19c"}.fa-mortar-board:before,.fa-graduation-cap:before{content:"\f19d"}.fa-yahoo:before{content:"\f19e"}.fa-google:before{content:"\f1a0"}.fa-reddit:before{content:"\f1a1"}.fa-reddit-square:before{content:"\f1a2"}.fa-stumbleupon-circle:before{content:"\f1a3"}.fa-stumbleupon:before{content:"\f1a4"}.fa-delicious:before{content:"\f1a5"}.fa-digg:before{content:"\f1a6"}.fa-pied-piper:before{content:"\f1a7"}.fa-pied-piper-alt:before{content:"\f1a8"}.fa-drupal:before{content:"\f1a9"}.fa-joomla:before{content:"\f1aa"}.fa-language:before{content:"\f1ab"}.fa-fax:before{content:"\f1ac"}.fa-building:before{content:"\f1ad"}.fa-child:before{content:"\f1ae"}.fa-paw:before{content:"\f1b0"}.fa-spoon:before{content:"\f1b1"}.fa-cube:before{content:"\f1b2"}.fa-cubes:before{content:"\f1b3"}.fa-behance:before{content:"\f1b4"}.fa-behance-square:before{content:"\f1b5"}.fa-steam:before{content:"\f1b6"}.fa-steam-square:before{content:"\f1b7"}.fa-recycle:before{content:"\f1b8"}.fa-automobile:before,.fa-car:before{content:"\f1b9"}.fa-cab:before,.fa-taxi:before{content:"\f1ba"}.fa-tree:before{content:"\f1bb"}.fa-spotify:before{content:"\f1bc"}.fa-deviantart:before{content:"\f1bd"}.fa-soundcloud:before{content:"\f1be"}.fa-database:before{content:"\f1c0"}.fa-file-pdf-o:before{content:"\f1c1"}.fa-file-word-o:before{content:"\f1c2"}.fa-file-excel-o:before{content:"\f1c3"}.fa-file-powerpoint-o:before{content:"\f1c4"}.fa-file-photo-o:before,.fa-file-picture-o:before,.fa-file-image-o:before{content:"\f1c5"}.fa-file-zip-o:before,.fa-file-archive-o:before{content:"\f1c6"}.fa-file-sound-o:before,.fa-file-audio-o:before{content:"\f1c7"}.fa-file-movie-o:before,.fa-file-video-o:before{content:"\f1c8"}.fa-file-code-o:before{content:"\f1c9"}.fa-vine:before{content:"\f1ca"}.fa-codepen:before{content:"\f1cb"}.fa-jsfiddle:before{content:"\f1cc"}.fa-life-bouy:before,.fa-life-buoy:before,.fa-life-saver:before,.fa-support:before,.fa-life-ring:before{content:"\f1cd"}.fa-circle-o-notch:before{content:"\f1ce"}.fa-ra:before,.fa-rebel:before{content:"\f1d0"}.fa-ge:before,.fa-empire:before{content:"\f1d1"}.fa-git-square:before{content:"\f1d2"}.fa-git:before{content:"\f1d3"}.fa-hacker-news:before{content:"\f1d4"}.fa-tencent-weibo:before{content:"\f1d5"}.fa-qq:before{content:"\f1d6"}.fa-wechat:before,.fa-weixin:before{content:"\f1d7"}.fa-send:before,.fa-paper-plane:before{content:"\f1d8"}.fa-send-o:before,.fa-paper-plane-o:before{content:"\f1d9"}.fa-history:before{content:"\f1da"}.fa-circle-thin:before{content:"\f1db"}.fa-header:before{content:"\f1dc"}.fa-paragraph:before{content:"\f1dd"}.fa-sliders:before{content:"\f1de"}.fa-share-alt:before{content:"\f1e0"}.fa-share-alt-square:before{content:"\f1e1"}.fa-bomb:before{content:"\f1e2"}.fa-soccer-ball-o:before,.fa-futbol-o:before{content:"\f1e3"}.fa-tty:before{content:"\f1e4"}.fa-binoculars:before{content:"\f1e5"}.fa-plug:before{content:"\f1e6"}.fa-slideshare:before{content:"\f1e7"}.fa-twitch:before{content:"\f1e8"}.fa-yelp:before{content:"\f1e9"}.fa-newspaper-o:before{content:"\f1ea"}.fa-wifi:before{content:"\f1eb"}.fa-calculator:before{content:"\f1ec"}.fa-paypal:before{content:"\f1ed"}.fa-google-wallet:before{content:"\f1ee"}.fa-cc-visa:before{content:"\f1f0"}.fa-cc-mastercard:before{content:"\f1f1"}.fa-cc-discover:before{content:"\f1f2"}.fa-cc-amex:before{content:"\f1f3"}.fa-cc-paypal:before{content:"\f1f4"}.fa-cc-stripe:before{content:"\f1f5"}.fa-bell-slash:before{content:"\f1f6"}.fa-bell-slash-o:before{content:"\f1f7"}.fa-trash:before{content:"\f1f8"}.fa-copyright:before{content:"\f1f9"}.fa-at:before{content:"\f1fa"}.fa-eyedropper:before{content:"\f1fb"}.fa-paint-brush:before{content:"\f1fc"}.fa-birthday-cake:before{content:"\f1fd"}.fa-area-chart:before{content:"\f1fe"}.fa-pie-chart:before{content:"\f200"}.fa-line-chart:before{content:"\f201"}.fa-lastfm:before{content:"\f202"}.fa-lastfm-square:before{content:"\f203"}.fa-toggle-off:before{content:"\f204"}.fa-toggle-on:before{content:"\f205"}.fa-bicycle:before{content:"\f206"}.fa-bus:before{content:"\f207"}.fa-ioxhost:before{content:"\f208"}.fa-angellist:before{content:"\f209"}.fa-cc:before{content:"\f20a"}.fa-shekel:before,.fa-sheqel:before,.fa-ils:before{content:"\f20b"}.fa-meanpath:before{content:"\f20c"}




/*
=============================================== 15. WOOCOMMERCE STYLES ===============================================
*/
nav.woocommerce-breadcrumb {display:none; margin:0px; padding:0px;} /* Hides default bread-crumb.  This is replaced by our plugin */
#remove-shop-title-pro {
	display:none;
}
header.title {background:none;}

/* WooCommerce Button Styles */


/* Reset Styling */
body.woocommerce img {-moz-box-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important;}
nav.woocommerce-breadcrumb {display:none; margin:0px; padding:0px;} /* Hides default bread-crumb.  This is replaced by our plugin */
body ins, body mark, #sidebar ins {background:none;}


/* Single Product Tabbed Area */
body #main .width-container .woocommerce-tabs  {
	margin-bottom:40px;
}
body #main .width-container .woocommerce-tabs ul.tabs { overflow:visible; padding-left:0px; }
body #main .width-container .woocommerce-tabs .tabs li {position:relative; top:1px;}
body #main .width-container .woocommerce-tabs .tabs li a { font-size:13px; font-weight:400;  color:#ffffff;  text-shadow:none;}
body #main .width-container .woocommerce-tabs .tabs li { 
	padding:0px;
	margin-right:2px;
	background:none;
	background:#ffffff;
	border:none;
	text-shadow:none;
	box-shadow:none ; -webkit-box-shadow: none; box-shadow: none; -moz-box-shadow: none;
	margin-left:0px !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	
}

body #main .width-container .woocommerce-tabs .tabs li a {
	color:#999999;
	border:3px solid #eee;
	padding:10px 25px;
}
body #main .width-container .woocommerce-tabs ul.tabs {
	border-color:#eee;
}

body #main .width-container .woocommerce-tabs .tabs li.active a,
body #main .width-container .woocommerce-tabs .tabs li a:hover {
	border-color:#dddddd;
	color:#777;
}

body #main .width-container .woocommerce-tabs .tabs:after, body #main .width-container .woocommerce-tabs .tabs:before {display:none;}
body #main .width-container .woocommerce-tabs .tabs li:after, body #main .width-container .woocommerce-tabs .tabs li:before {display:none;}

body #main .woocommerce-tabs h2, body #main  .related.products h2 {
	font-weight:400;
	font-size:28px;
	text-transform:none;
}

/*  Index Styles  */
body .home-content-highlight li.product h3,
body #main h3 {
	font-weight:400;
	line-height:1.1;
	margin:0px 0px 8px 0px;
	padding:0px;
	font-size:20px;
}

.shop-meta-index-pro {
	float:left;
	width:55%;
	padding:0px 0px 15px 0px;
}

body .home-content-highlight ul li.product .amount,
body #main ul li.product .amount {
	color:#444444;
	font-size:16px;
	font-weight:400;
	font-style:italic;
}

body .home-content-highlight ul li.product del .amount,
body #main ul li.product del .amount {
	color:#bbbbbb;
	font-size:11px;
	font-weight:normal;
	position:relative;
	top:-3px;
}

body .home-content-highlight ul li.product .price,
body #main ul li.product .price {
	margin:0px 0px 10px 0px;
	padding:0px;
}

body .home-content-highlight mark,
body #main mark {
	font-weight:400;
	font-style:italic;
}


body ul li.product a.added_to_cart {
	text-align:center;
	font-size:12px;
	padding:4px 0px 4px 0px;
	background:#f1f1f1;
	color:#aaa;
	margin:8px 0px 0px 0px;
	display:block;
}

body #main .width-container ul li.product a.added_to_cart:hover {
	color:#999999;
	background:#e9e9e9;
}


 
body .home-content-highlight ul li.product .star-rating,
body #main ul li.product .star-rating {
	font-size:12px;
}


.woocommerce .star-rating span:before,.woocommerce-page .star-rating span:before {
	color:#333;
}

.comment-form-rating a {
	color:#bbbbbb;
}

.comment-form-rating a:hover, .comment-form-rating a.active {
	color:#333333;
}


.woocommerce .star-rating:before,.woocommerce-page .star-rating:before {
	color:#dddddd;
	content:"\53\53\53\53\53";
}



/* Single Post Page */
.entry-summary h1.product_title {
	font-size:30px;
	line-height:1.2;
	margin:15px 0px 10px 0px;
}

body #main .entry-summary .amount {
	color:#444;
	font-size:16px;
	font-weight:400;
	font-style:italic;
}

body #main .entry-summary del .amount {
	color:#bbbbbb;
	font-size:13px;
	font-weight:normal;
	position:relative;
	top:-3px;
}

body #main div.summary .woocommerce-product-rating {
	width:100%;
	overflow:hidden;
	padding-bottom:15px;
}
body div.summary a.woocommerce-review-link {
	display:none;
}


body #main  .width-container div.quantity input {
	margin:0px;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

body #main  .width-container div.quantity input[type='number']::-webkit-outer-spin-button,
body #main  .width-container div.quantity input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.product_meta {
	padding:10px 8px;
	border-top:1px dotted rgba(0, 0, 0, 0.1);
	border-bottom:1px dotted rgba(0, 0, 0, 0.1);
	font-size:90%;
}
.product_meta a {
	font-weight:400;
}

.product_meta span.sku_wrapper, .product_meta span.posted_in {
	padding-right:15px;
}

body #main .width-container .variations_button {
	margin-top:20px;
}



/* ----- WooCommerce Reviews ----- */
body.woocommerce #reviews #comments ol.commentlist {position:static; left:0px; float:none; width:98%;}
body.woocommerce #reviews #comments ol.commentlist li img { padding:0px !important;}
body.woocommerce .commentlist li  {	box-shadow:none ; -webkit-box-shadow: none; box-shadow: none; -moz-box-shadow: none;  }
body.woocommerce #reviews #comments ol.commentlist li .comment-text {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding-top:0px;
	 border:none; border-left:1px solid #e9e9e9;}

body.woocommerce #reviews #comments ol.commentlist p.meta {margin-bottom:10px;}
body.woocommerce #reviews #comments ol.commentlist p.meta strong {
	font-weight: 400; 
	display: inline-block; 
	font-size:22px; 
	color:#000000;
}
body.woocommerce #reviews #comments ol.commentlist p.meta time {
	font-weight:normal;
	font-size:12px;
	color:#999999;
}


#review_form h3#reply-title {
	font-size:18px;
	margin-top:15px;
	margin-bottom:8px;
}

/* Related Products */
body #main  .related.products {
	padding-top:40px;
	border-top:1px solid rgba(0, 0, 0, 0.08);
}

/* Message Bar */
body #main .woocommerce-message, body #main .woocommerce-info, body #main ul.woocommerce-error {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

body #main .woocommerce-message a.button {
	padding:8px 12px;
	font-size:10px;
}

body #main .woocommerce-message, body #main .woocommerce-info, body #main ul.woocommerce-error {
	background:#ffffff;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); 
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); 
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

body #main ul.products img, body #main .images img, body #main #sidebar img {
	-webkit-box-shadow: none; 
	-moz-box-shadow: none; 
	box-shadow: none; 
}


/* CHeckout + My Account Styles */
.woocommerce header h3 {
	margin-bottom:0px;
}
.woocommerce header {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}


.woocommerce .myaccount_user, .woocommerce p.myaccount_address {
	margin-bottom:50px;
}

.woocommerce .cart_totals  {
	margin-bottom:25px;
}
.woocommerce .cart-collaterals h2 {
	font-size:20px;
}

.product-remove a.remove:hover {background:transparent !important;}
.woocommerce table.cart .product-remove a.remove {color:#bbbbbb;}
.woocommerce table.cart .product-remove a.remove:hover {color:#999999 ;}


.woocommerce h3#order_review_heading,
.woocommerce-billing-fields h3,
.woocommerce-shipping-fields h3#ship-to-different-address {
	font-size:18px;
}
.woocommerce h3#order_review_heading {
	margin-top:45px;
	font-size:25px;
}

body.woocommerce-cart #main td.actions  input {
	padding:12px 12px;
	letter-spacing:1px;
	font-size:11px;
	margin-right:15px;
}
body.woocommerce-cart #main td.actions .coupon input,
.woocommerce input, .woocommerce textarea {
	padding:12px;
	margin-top:3px;
	border:3px solid #e5e5e5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color:#ffffff;
}


body.woocommerce-cart #main td.actions .coupon input#coupon_code {
	width:auto;
	max-width:110px;
}
body.woocommerce-cart #main td.actions .coupon input#coupon_code:hover {
	background:#ffffff;
}

body.woocommerce-cart #main td.actions .coupon input.button {
	background:#aaaaaa;
	border-color:#aaa;
}

.woocommerce form.login, .woocommerce form.register {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-color:#e5e5e5;
}


/* WooCommerce Widgets */
#sidebar ul.product_list_widget li:before {display:none;}
#sidebar ul.product_list_widget li {
	padding-left:0px;
	padding-bottom:12px;
	margin-bottom:12px;
	border-bottom:1px solid #eeeeee;
}

body #sidebar p.total {
	border:none;
}



#sidebar ul.product_list_widget li .star-rating {
	margin:4px 0px 3px 0px;
}
#sidebar ul.product_list_widget li .reviewer {
	font-size:12px;
}

ul.product-categories span {
	color:#000000;
	font-size:10px;
	position:relative;
	bottom:2px;
}

body #main #sidebar button.button {
	padding:10px 10px;
	font-size:10px;
	letter-spacing:1px;
}
body #main #sidebar a.button {
	padding:10px 10px;
	font-size:10px;
	letter-spacing:1px;
}



/* WooCommerce Columns */
body #main .width-container li.product.column-4 {margin-right:2%; width: 23.5%; }
body #main .width-container li.product.column-3 {margin-right:2%; width: 32%; }
body #main .width-container li.product.column-2 {margin-right:2%; width: 49%; }
.lt-ie8 body #main .width-container li.product.column-4 {margin-right:2%; width: 23%; }
.lt-ie8 body #main .width-container li.product.column-3 {margin-right:2%; width: 31%; }
.lt-ie8 body #main .width-container li.product.column-2 {margin-right:2%; width: 48.5%; }
body #main .width-container li.product.column-2.last, body #main .width-container li.product.column-3.last, body #main .width-container li.product.column-4.last, .lt-ie8 body #main .width-container li.product.column-2.last, .lt-ie8 body #main .width-container li.product.column-3.last, .lt-ie8 body #main .width-container li.product.column-4.last {margin-right:0%;}
body #main .width-container .related li.product.column-3 {width:31.3%;}
body #main .width-container .related li.product.column-3.last { clear:none !important;   margin-right:2% !important; }
body #main .width-container .related li.product.column-3.first {clear:none !important; margin-right:2%;}
body #main .width-container .columns-2 li.product {margin-left:1%;margin-right:1%; width: 48%; }
body #main .width-container .columns-3 li.product {margin-left:1%;margin-right:1%; width: 31.3%; }
body #main .width-container .columns-4 li.product {margin-left:1%;margin-right:1%; width: 23%; }


/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	body #main .width-container li.product.column-4 {margin-right:2%; width: 23.5%; clear:none;}
	body #main .width-container li.product.column-3 {margin-right:2%; width: 32%; clear:none;}
	body #main .width-container li.product.column-2 {margin-right:2%; width: 49%; clear:none; }
	body #main .width-container li.product.column-2.last, body #main .width-container li.product.column-3.last, body #main .width-container li.product.column-4.last, .lt-ie8 body #main .width-container li.product.column-2.last, .lt-ie8 body #main .width-container li.product.column-3.last, .lt-ie8 body #main .width-container li.product.column-4.last {margin-right:0%;}
	body #main .width-container li.product { float:left;}
	body #main .width-container li.product.first { clear: both;}
	body #main .width-container .columns-2 li.product {margin-left:1%;margin-right:1%; width: 48%; }
	body #main .width-container .columns-3 li.product {margin-left:1%;margin-right:1%; width: 31.3%; }
	body #main .width-container .columns-4 li.product {margin-left:1%;margin-right:1%; width: 23%; }
}

/* #Mobile (Portrait) */
@media only screen and (max-width: 767px) {
	body #main .width-container li.product.column-2, body #main .width-container li.product.column-3, body #main .width-container li.product.column-4, .lt-ie8 body #main .width-container li.product.column-2, .lt-ie8 body #main .width-container li.product.column-3, .lt-ie8 body #main .width-container li.product.column-4 
	{
		margin-left:0px !important;
		margin-right:0px !important;
		width:100% !important;
		margin-bottom:10px;
	}
	.product-remove {display:none;}
	#single-product-pro .entry-summary { padding:0px; background:none; }
	body.woocommerce .commentlist {left:0px;}
	.comment-text { width:90% !important; margin:0px !important; margin-left:-10px !important; }
	.woocommerce table.cart { font-size:10px; }
}